swiper-container {
    height: auto;
    padding-bottom: 0px;
    margin: 0px;
  }

swiper-container img {
    height: 100%; /* les images remplissent la hauteur du swiper */
    object-fit: contain; /* les images conservent leurs proportions tout en couvrant l'espace disponible */
    width: 100%; /* largeur de l'image s'ajuste automatiquement */
  }
