<ion-header [translucent]="true">
  <ion-toolbar style="">
    <ion-title style="text-align: center;">Bienvenue sur Drink'Able !</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" style="padding: 10px;">
  <div style="text-align: center; ">
    <p class="titres">🎉<strong>Merci de nous avoir rejoint !</strong>🎉</p>

    <h3 style="color: #d400ff;">À quoi s'attendre ?</h3>
    
    <p class="titres"><span class="emoji">😎</span><strong>Prévention fun et pratique</strong><span class="emoji">😎</span></p>
    <p>
      Découvrez notre compteur d'alcoolémie, nos mini-jeux et nos autres fonctionalités uniques...
      <br><em>Rappel : nos estimations ne sont pas infaillibles, soyez toujours prudent !</em>
    </p>

    <p style="margin-top: 10px;" class="titres"><span class="emoji">💃</span><strong>Réseau social nocturne</strong><span class="emoji">🕺</span></p>
    <p>
      Drink'Able facilite la manière de retrouver vos amis en soirée. Et grâce à nous, vous saurez où se passe la fête !
    </p>
      
    
    <p style="margin-top: 20px;" class="titres">✅<strong>Soyez responsable</strong>✅</p>
    <p>
      Vous receverez des notifications lorsque c'est le moment de dire stop ou de pouvoir prendre la route.
      <br><br>Trouver une alternative à la voiture, contacter des numéros d'urgences...
      <br>Nous sommes là pour vous aider à prendre les bonnes décisions et à agir rapidement.
    </p>
    
    <p style="margin-top: 30px;" class="titres"><strong><u> Invitez vos amis à rejoindre Drink'Able.</u></strong></p>
    <p>
      Faisons de nos sorties nocturnes un moment sûr et mémorable.</p>
    
    <p style="margin-top: 30px;">En continuant, vous acceptez nos 
      <br> <a href="#" style="color: #4A90E2;">Conditions d'utilisation et Politique de confidentialité</a>.</p>
  </div>
  <div style="text-align: center; margin-bottom: 10%;">
  <ion-button (click)="goHome()">
    Continuer
  </ion-button></div>
</ion-content>
