ion-content{
  height: 100px;
}

.roulette-container {
  width: 300px; /* Largeur fixe de la roulette */
  height: 300px; /* Hauteur fixe de la roulette */
  border-radius: 50%; /* Rend le conteneur circulaire */
  position: relative; /* Nécessaire pour positionner les segments de manière absolue à l'intérieur */
  overflow: hidden; /* Cache les parties des segments qui dépassent */
  border: 2px solid #000; /* Bordure noire autour de la roulette */
  box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Ombre portée pour un effet 3D */
}

/* Style pour la roulette elle-même */
.roulette {
  width: 100%; /* Occupe toute la largeur du conteneur */
  height: 100%; /* Occupe toute la hauteur du conteneur */
  position: relative; /* Position relative pour le positionnement des segments */
  transition:  transform 5s cubic-bezier(0.0, 0.8, 0.25, 1);
}

/* Style pour chaque segment de la roulette */
.segment {
  width: 100%; /* Largeur égale à celle de la roulette */
  height: 50%; /* Hauteur égale à la moitié de la roulette pour couvrir un arc de cercle */
  position: absolute; /* Positionné absolument par rapport à la roulette */
  left: 0; /* Aligné à gauche dans la roulette */
  top: 0; /* Aligné en haut dans la roulette */
  border: 2px solid #000; /* Bordure noire autour de chaque segment */
  transform-origin: 50% 100%; /* Point d'origine de la transformation pour la rotation */
  cursor: pointer;
}

/* Style pour le tableau affichant les noms et les couleurs */
.segments-table {
  margin-top: 20px; /* Marge au-dessus du tableau */
}
.segments-table table {
  width: 100%; /* Largeur totale du tableau */
  border-collapse: collapse; /* Les bordures des cellules s'effondrent en une seule bordure */
}

.segments-table th, .segments-table td {
  border: 1px solid #ddd; /* Bordure pour les entêtes et cellules */
  padding: 8px; /* Espace intérieur pour les entêtes et cellules */
  text-align: left; /* Alignement du texte à gauche */
}
.segments-table th {
  background-color: #f4f4f4; /* Couleur de fond pour les entêtes */
}


/* Style pour les éléments <select> */
select {
  width: 100%; /* Largeur totale pour occuper l'espace disponible */
  padding: 8px; /* Padding pour un meilleur confort */
  font-size: 16px; /* Taille de la police pour une meilleure lisibilité */
  border: 2px solid #007bff; /* Bordure bleue */
  border-radius: 5px; /* Coins arrondis */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Ombre portée légère */
  background-color: #fff; /* Fond blanc */
  color: #333; /* Couleur du texte noir */
  margin-bottom: 10px; /* Marge en dessous du <select> */
}

.page-container {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centre verticalement dans le conteneur */
  align-items: center; /* Centre horizontalement dans le conteneur */
}
.page-title {
  margin-bottom: 70px; /* Crée de l'espace entre le titre et le cercle de la roulette */
  font-size: 2.5em;
  color: #333;
  text-align: center;
}

.contact-options {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 10px;
  margin-top: 10px;
}
.controls-container {
  position: relative;
  width: 300px; /* Ajustez selon la taille de votre roulette */
  height: 300px; /* Ajustez selon la taille de votre roulette */
  /* autres styles... */
}

/* Style pour le conteneur du menu */
.menu-container {
  display: flex;
  justify-content: space-around; /* Distribue l'espace autour des éléments */
  align-items: center; /* Centre les éléments verticalement */
  position: fixed; /* Fixe le menu en bas de l'écran */
  bottom: 0; /* Positionne en bas */
  left: 0;
  right: 0;
  background-color: #fff; /* Couleur de fond du menu */
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2); /* Ombre pour un effet surélevé */
  padding: 10px; /* Un peu d'espace autour du menu */
}

/* Style commun pour tous les boutons */
.menu-button {
  flex: 1; /* Chaque bouton prend une part égale de l'espace */
  padding: 10px 20px; /* Padding pour augmenter la taille des boutons */
  text-align: center; /* Texte centré */
  background-color: #ffffff; /* Couleur de fond des boutons */
  color: rgb(0, 0, 0); /* Couleur du texte */
  border: none; /* Aucune bordure */
  border-radius: 5px; /* Coins légèrement arrondis */
}

/* Ajuster la taille de l'icône à l'intérieur des boutons si nécessaire */
.menu-button ion-icon {
  font-size: 20px; /* Taille de l'icône */
}

.contact-options-container {
  background-color: #f4f4f4; /* Couleur de fond */
  padding: 20px; /* Espacement à l'intérieur du conteneur */
  border-radius: 8px; /* Bords arrondis */
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Ombre légère pour le relief */
  max-width: 400px; /* Largeur maximale */
  margin-top: 70px;
}

.name-selector, .new-name-input {
  width: 100%; /* Utiliser toute la largeur disponible */
  padding: 10px; /* Espacement à l'intérieur des champs */
  margin-bottom: 10px; /* Marge en dessous des champs */
  border: 1px solid #ddd; /* Bordure subtile */
  border-radius: 4px; /* Bords légèrement arrondis */
  box-sizing: border-box; /* Pour calculer correctement la largeur */
}

button {
  width: 100%; /* Utiliser toute la largeur disponible */
  padding: 10px; /* Espacement à l'intérieur du bouton */
  border: none; /* Pas de bordure */
  border-radius: 4px; /* Bords arrondis */
  background-color: #bdbdd3; /* Couleur de fond du bouton */
  color: rgb(8, 0, 0); /* Couleur du texte */
  cursor: pointer; /* Curseur de clic */
  transition: background-color 0.3s; /* Transition pour effet au survol */
}

button:hover {
  background-color: #bdbdd3; /* Changement de couleur au survol */
}

button:disabled {
  background-color: #ccc; /* Couleur lorsque désactivé */
}


.scrollable-table-container {
  max-width: 600px; /* Largeur maximale */
  margin-top: auto;
  height: 300px; /* Hauteur fixe, ajustez selon vos besoins */
  overflow-y: auto; /* Activer le défilement vertical si nécessaire */
  box-shadow: 0 2px 6px rgba(0,0,0,0.2); /* Ombre pour un effet de profondeur */
}

table {
  width: 100%; /* Utiliser toute la largeur disponible */
  border-collapse: collapse; /* Pour éviter les doubles bordures */
}

//footer
.footer {
  position: fixed;
  bottom: 0px;
  ion-toolbar {
    ion-row {
      height: 100%; // Assurez-vous que la rangée utilise toute la hauteur disponible

      ion-col {
        display: flex;
        justify-content: center; // Centre horizontalement dans la colonne
        align-items: center; // Centre verticalement dans la colonne
      }
    }
  }
}