<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Roulette BOB
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="page-container">
  
  <!-- Conteneur de la roulette -->
<div class="roulette-container">
  <!-- Roulette elle-même -->
  <div class="roulette" [ngStyle]="{ 'transform': 'rotate(' + degree + 'deg)' }">
    <!-- Boucle sur chaque segment dans le tableau des segments -->
    <div *ngFor="let segment of segments; let i = index" 
         class="segment" 
         [ngStyle]="{
           'background-color': winningColor ? winningColor : segment.color,
           'transform': 'rotate(' + (i * (360 / segments.length)) + 'deg)',
           'clip-path': 'polygon(50% 50%, 100% 0, 100% 100%)'
         }">
    </div>
  </div>
</div>
<!-- Tableau montrant les segments ajoutés -->
<div class="segments-table" *ngIf="showTable">
  <div class="scrollable-table-container">
  <table>
    <!-- En-têtes du tableau -->
    <tr>
      <th>Nom</th>
      <th>Couleur</th>
    </tr>
    <!-- Lignes du tableau pour chaque segment -->
    <tr *ngFor="let segment of segments">
      <td>{{ segment.name }}</td>
      <td [ngStyle]="{'background-color': segment.color}">{{ segment.color }}</td>
    </tr>
  </table>
</div>
</div>

<div class="contact-options-container" *ngIf="showContactOptions">
  <select #nameSelector class="name-selector">
    <option *ngFor="let name of selectableNames" [value]="name">{{ name }}</option>
  </select>
  <button (click)="addSegment(nameSelector.value)" class="add-segment-button">Ajouter le contact</button>
  <br/>
  <input type="text" placeholder="Ajouter un nouveau nom" #newNameInput class="new-name-input">
  <br/>
  <button (click)="addNewName(newNameInput)" class="add-new-name-button">Ajouter le nom</button>
</div>

<div class="menu-container">
  <button (click)="spinWheel()" class="menu-button">
    <ion-icon name="reload-outline"></ion-icon>
  </button>
  <button (click)="toggleContactOptions()" class="menu-button">
    <ion-icon name="add-circle-outline"></ion-icon>
  </button>
  <button (click)="toggleTable()" class="menu-button">
    <ion-icon name="color-palette-outline"></ion-icon>
  </button>
</div>
</ion-content>>

<ion-footer class="footer">
  <ion-toolbar style="padding: 0px; padding-bottom: 10px;">
    <ion-row>
      <ion-col style="font-size: 2em" size="4" text-center>
        <ion-icon name="settings-outline" (click)="openSettingsPage()"></ion-icon>
      </ion-col>
      <ion-col style="font-size: 3em" size="4" text-center>
        <ion-icon name="home-outline" (click)="goHome()"></ion-icon>
      </ion-col>
      <ion-col style="font-size: 2em" size="4" text-center>
        <ion-icon name="game-controller-outline" (click)="openGamificationPage()"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
