<ion-content class="no-scroll">
  <div class="score-timer-container">
    <div class="score-display neon-text">Score: {{ score }}</div>
    <div class="timer-display neon-text">Temps: {{ timeLeft | number: '2.0-0' }}s</div>
  </div>

  <div *ngIf="!gameStarted && !showResults" class="start-container">
    <ion-button (click)="startGame()">Démarrer le jeu !</ion-button>
  </div>

  <div *ngIf="gameStarted" class="game-area">
    <div class="icon" [ngStyle]="{'top': iconPosition.top, 'left': iconPosition.left}" *ngIf="currentIcon">
      <ion-icon [name]="currentIcon" (click)="iconClicked()"></ion-icon>
    </div>
  </div>

  <div *ngIf="showResults" class="results-container">
    <div [ngClass]="{'messageicongood': score > 9, 'messageiconbad': score <= 9}">
      <ion-icon [name]="score > 9 ? 'shield-checkmark-outline' : 'warning-outline'"></ion-icon>
    </div>
    <div class="message">
      {{ score > 9 ? 'Bravo ! Vous êtes probablement en dessous de la limite d\'alcoolémie.' : 'Attention ! Vous êtes probablement au-dessus de la limite.' }}
    </div>
    <div class="final-score-display neon-text">
      Score final: {{ score }}
    </div>
</div>
<div *ngIf="showResults" class="results-buttons">
    <ion-button size="large" (click)="restartGame()">
      <ion-icon name="reload-outline"></ion-icon>Rejouer
    </ion-button>
    <ion-button size="large" (click)="shareScore()">
      <ion-icon name="share-outline"></ion-icon>Partager
    </ion-button>
</div>
</ion-content>

<ion-footer class="footer">
  <ion-toolbar style="padding: 0px; padding-bottom: 10px;">
    <ion-row>
      <ion-col style="font-size: 2em" size="4" text-center>
        <ion-icon name="settings-outline" (click)="openSettingsPage()"></ion-icon>
      </ion-col>
      <ion-col style="font-size: 3em" size="4" text-center>
        <ion-icon name="home-outline" (click)="goHome()"></ion-icon>
      </ion-col>
      <ion-col style="font-size: 2em" size="4" text-center>
        <ion-icon name="game-controller-outline" (click)="openGamificationPage()"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
