<ion-list>
  <ion-item button (click)="appelerContact()" class="">
    <ion-label>
      <i class="bi bi-telephone-fill"></i>
      Appeler
    </ion-label>
  </ion-item>
  <ion-item button (click)="messageContact()" class="">
    <ion-label>
      <i class="bi bi-chat-right-text-fill"></i>
      SMS
    </ion-label>
  </ion-item>
  <ion-item *ngIf="contact.localisation" button (click)="ouvrirOptionsCartographie()" class="">
    <ion-label>
      <i class="bi bi-pin-map-fill"></i>
      Adresse
    </ion-label>
  </ion-item>
</ion-list>
