.toolbar-green{
  --background: darkgreen;
  --color: white;
}
.toolbar-orange{
  --background: darkorange;
  --color: white;
}
.toolbar-red{
  --background: darkred;
  --color: white;
}

.toolbar{
  --background: rgba(160, 158, 158, 0.342);
}

//Footer
.footer {
    ion-toolbar {
      ion-row {
        height: 100%; // Assurez-vous que la rangée utilise toute la hauteur disponible
  
        ion-col {
          display: flex;
          justify-content: center; // Centre horizontalement dans la colonne
          align-items: center; // Centre verticalement dans la colonne
        }
      }
    }
  }